@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize/components/color";
$primary-color: color("pink", "base") !default;
$secondary-color: color("blue", "lighten-1") !default;
$muted-color: color("grey", "base") !default;
@import "materialize";
@import "materialize/extras/nouislider";

/* COLORS */

body {
  @extend .grey-text, .text-darken-4;
}

.muted {
  color: $muted-color;
}

/* COMPONENTS */
html, body {
  height: 100%;
  min-height:100%;
}

.page {
  height: 100%;
  min-height:100%;
  padding-top:60px;
  padding-bottom:60px;
}

.hero {
  color: #fff !important;
  height:540px;
  margin-top:-60px;
  padding-top:100px;
  position: relative;
  .hero-icon {
    width: 175px;
    height: 175px;
  }
  .scroller-link a {
    color: #fff;
  }
}

.scroller-link {
  position:absolute;
  height:8.5em;
  bottom:0;
  left:45.5%;
}

#map.home-page {
  width:100%;
  position:absolute;
  height: 599px;
  top:5px;
  left:0;
  z-index: -2;
}

#map-overlay {
  background-color: rgba(233,30,99,0.6);
  width:100%;
  position: absolute;
  height: 599px;
  top: 5px;
  left: 0;
  z-index: -1;
}

#map {
  width:100%;
  position:absolute;
  top:5px;
  left:0;
  z-index: -2;
  height:400px;
}

.page-footer {
  padding-bottom: 20px;
  margin-top: 10px;
}

#how-it-works {
  .card-panel {
    padding-top: 20px;
    padding-bottom: 20px;
    h6 {
      @extend .pink-text;
    }
  }
}

.foundation-container {
  margin-top: 340px;
}

footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 4em;
  margin-top: -4em;
}

ul.tabs {
  margin-bottom:20px;
}

/* NAVIGATION */

/* TYPOGRAPHY */

body {
  font-weight: 300;
  font-size:1em;
}

p {
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1, h2, h3, h4 {
  color: $primary-color;
}

.hero {
  h1, h2 {
    color: #fff;
  }
}

label {
  font-size: 0.9em;
}

h6 {
  font-weight:500;
  text-transform: uppercase;
  letter-spacing:0.225em;
  line-height:1.5em;
}

.flow-text {
  font-weight: 300;
  @extend .light;
}

.heavy {
  font-weight: 600;
}

.light {
  font-weight: 200;
}

.help-text {
  font-size: 0.9em;
  @extend .grey-text;
}

/* BUTTONS AND CONTROLS */

.btn {
  background-color: $primary-color;
  &:hover {
    background-color: color("pink", "darken-2")
  }
}

.btn-inverted {
  background-color:transparent;
  color: #fff;
  border: 1px solid #fff;
  &:hover {
    background-color: $primary-color
  }
}

/* ICONS AND IMAGES */

.panel-icon {
  margin-top:5px;
  @extend .pink-text;
}

/* FORMS */

input {
  margin-bottom: 8px !important;
}

.input {
  margin-bottom: 20px;
}

.form-input {
  margin-bottom: 10px;
}

.login-shared-links {
  margin-top:10px;
  .login-or-signup {
    margin-top:20px;
    border-top:1px solid $muted-color;
  }
}

.hint {
  @extend .help-text;
}

/* RESPONSIVE STYLES */

@media only screen and (max-width: 600px) {
  #map.home-page {
    height: 590px;
  }

  .scroller-link {
    left: 38%;
  }
}

@media only screen and (min-width: 600px) {
  #new-pledge {
    margin-top: 15px;
    margin-left: 40px;
  }
}
